name: Deploy to Maven Central

on:
  push:
    branches:
      - 'main'
    paths:
      - 'src/main/resources/api.yaml'
      - 'pom.xml'
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag name (include initial v)'
        required: true
        type: string

env:
  TAG_NAME: ${{ inputs.tag }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # upload to release contents

    steps:
      - if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: "${{ env.TAG_NAME }}"

      - if: github.event_name == 'release' || github.event_name == 'push'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set version on release
        if: github.event_name == 'release'
        run: |
          echo "TAG_NAME=${GITHUB_REF##*/}" >> "$GITHUB_ENV"

      - name: Write version into pom if overridden
        if: github.event_name == 'workflow_dispatch' ||  github.event_name == 'release'
        run: sed -i "0,\|</version>|{s|<version>.*-SNAPSHOT</version>|<version>${TAG_NAME##v}</version>|}" pom.xml

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MVN_SIGNING_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          cache: 'maven'

      - name: Bundle and publish to Central
        run: mvn deploy -P publish -DdeploymentName=github_workflow
        env:
          MAVEN_USERNAME: ${{ secrets.MVN_CENTRAL_TOKEN }}
          MAVEN_PASSWORD: ${{ secrets.MVN_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MVN_SIGNING_KEY_PASSPHRASE }}

      - name: Attach artifacts to release
        if: github.event_name == 'workflow_dispatch' ||  github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for f in $(find target -maxdepth 1 -name \*.jar -o -name \*.asc -o -name \*.pom); do
            gh release upload $TAG_NAME $f
          done
